.auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  min-height: 100vh;
}

.auth__logo {
  width: 250px;
}

.auth__content {
  background-color: #fff;
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04%);
}

.auth__title {
  font-size: 30px;
  color: rgba(#1E2229, 0.85);
}

.auth__field {
  margin-bottom: 15px;
}

.auth__submit {
  width: 100%;
}
