.more-btn {
  background-color: rgba(#1E2229, 0.05);
  border: 0 solid #000;
  border-radius: 8px;
  display: block;
  width: auto;
  margin: 24px auto;
  color: #1E2229;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  padding: 15px 40px;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
  }
}
