.submit-btn {
  padding: 14px 40px;
  display: block;
  width: auto;
  border: none;
  background: #09AD90;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: rgba(9, 173, 144, 0.8);
  }

  &:disabled {
    background: #ECECEC;
    color: #BBBBBB;
  }
}

.submit-btn--outlined {
  background-color: #fff;
  color: #1E2229;
  border: 1px solid rgba(30, 34, 41, 0.2);

  &:hover {
    background: rgba(9, 173, 144, 0.8);
    color: #fff;
    border-color: #fff;
  }
}

.submit-btn span {
  display: inline-flex;
  align-items: center;
}

.submit-btn img {
  margin-right: 9px;
}
